<!DOCTYPE html>
<html>
  <head>
    <title>RailsCatalog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <%= link_to "View Catalog", {:controller => :catalog, :action => :index }, {class: 'button_header'} %>
    <%= link_to "View Cart", {:controller => :cart_items, :action => :view }, {class: 'button_header'} %>
  </div>
  <% if flash[:success] %>
      <div><%= flash[:success] %></div>
  <% end %>
  <% if flash[:error] %>
      <div><%= flash[:error] %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
