<!DOCTYPE html>
<html>
  <head>
    <title>RailsDonate</title>
    <%= csrf_meta_tags %>

    <!-- link to the SqPaymentForm library -->
    <script type="application/javascript" src="https://js.squareup.com/v2/paymentform" %></script>

    <!-- link to the local SqPaymentForm initialization -->
    <%= javascript_include_tag "sqpaymentform" %>

    <!-- link to the custom styles for SqPaymentForm -->
    <%= stylesheet_link_tag "sqpaymentform.css"%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
