<div class="body">
  <%= form_tag('/item/create', method: 'post') do %>
    <%= label_tag('Product group:') %>
    <%= select_tag 'name', options_for_select(@product_groups.collect{ |u| [u[:name], u[:id]]}),
                   {:id => 'products', :onchange => 'display_products();'} %>
    <%= text_field_tag(:new_product, nil, {:required => false, :id => 'new_product'}) %>
    <br>
    <%= label_tag('Variation:') %>
    <%= text_field_tag(:variation_name, nil, :required => true) %>
    <br>
    <%= label_tag('Category:') %>
    <%= select_tag 'category', options_for_select(@categories.collect{ |u| [u[:name], u[:id]]}),
                   {:id => 'category', :onchange => 'display_category();'} %>
    <%= text_field_tag(:new_category, nil, {:required => false, :id => 'new_category'}) %>
    <br>
    <%= label_tag('Product price:') %>
    <%= text_field_tag(:price, nil, :required => true) %>
    <br>
    <%= submit_tag('Create') %>
  <% end %>
</div>
